@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grenette font */
@font-face {
    font-family: 'Grenette Variable Proportional Pro';
    font-style: normal;
    font-weight: normal;
    src: url('/font/grenette-variable-proportional-pro.woff2') format('woff2');
}
@font-face {
    font-family: 'Grenette Variable Italic Pro';
    font-style: normal;
    font-weight: normal;
    src: url('/font/grenette-variable-italic-pro.woff2') format('woff2');
}

/* default styles */
@layer base {
    p {
        @apply mb-4 text-lg;
    }

    blockquote {
        @apply mb-4 px-4 py-1 border-l-4 bg-kenen/25;
    }

    blockquote p {
        @apply m-0;
    }
}
