{% extends 'index.html' %}

{% block meta %}
<title>Torch and Zen Blog: {{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:title" content="Torch and Zen Blog: {{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
{% endblock meta %}

{% block bodyclasslist %}bg-white{% endblock bodyclasslist %}

{% block content %}
<article class="bg-salvo">
    <header class="bg-white pt-28 px-8 pb-8">
        <h1 class="text-4xl sm:text-5xl">
            {{ page.title }}
        </h1>
    </header>

    <div class="flex flex-col md:flex-row">
        <div class="text-white max-w-[700px] px-8 pt-1 pb-2">
            <div class="inline-block my-4 p-2 bg-kenen/25">
                <time datetime="{{ page.date | date(format="%+") }}" itemprop="datePublished">
                    {{ page.date }}
                </time>
            </div>
            <div itemprop="articleBody">
                {{ page.content|safe }}
            </div>
        </div>

        <div class="flex-1 flex justify-center items-center mt-8">
            <div class="inline-block max-w-[500px] min-w-[250px]">
                <img src="/img/clouds.svg" width="1000px">
            </div>
        </div>
    </div>
</article>
{% endblock content %}
