{% extends 'index.html' %}

{% block meta %}
<title>Torch and Zen: Code of Conduct</title>
{% endblock meta %}

{% block bodyclasslist %}bg-white{% endblock bodyclasslist %}

{% block content %}
<main class="bg-salvo">
    <header class="bg-white pt-28 px-8 pb-8">
        <h1 class="text-4xl sm:text-5xl">
            Code of Conduct
        </h1>
    </header>

    <div class="flex flex-col md:flex-row">
        <div class="text-white max-w-[700px] px-8 pt-1 pb-2">
            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Purpose
            </h2>
            <p class="text-lg mb-4">
                We aim to be inclusive to the largest number of contributors,
                with the most varied and diverse backgrounds possible. We are
                committed to providing a friendly, safe, welcoming environment
                for everyone, regardless of gender, sexual orientation, ability,
                ethnicity, socioeconomic status, religion, age.
            </p>
            <p class="text-lg mb-4">
                We want to do considerably better than the average group of
                software-industry people in creating a very friendly space. We
                especially want to cater to the needs of people that are members
                of software-industry minorities.
            </p>
            <p class="text-lg mb-4">
                We aim to create a space free of bias and prejudice. At the
                same time, we want to be open to radical ideas and different
                cultures.
            </p>
            <p class="text-lg mb-4">
                We want to adopt a collective approach to create a safe and
                comfortable environment for everyone. Let’s all assume an
                active role to help foster this.
            </p>
            <p class="text-lg mb-4">
                We expect all participants to abide by this Code of
                Conduct in all venues—online and in-person—as well as
                in all one-on-one communications pertaining to this event
                business.
            </p>

            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                OK behaviour
            </h2>
            <p class="text-lg mb-4">
                Let’s:
            </p>
            <ul class="list-decimal pl-6 text-lg">
                <li>Participate honestly.</li>
                <li>Be considerate in our discussions.</li>
                <li>Attempt synthesis instead of conflict.</li>
                <li>Be mindful of surroundings and of fellow participants.</li>
                <li>Attempt to help if we notice someone struggling.</li>
                <li>
                    Alert members of the organising team and/or fellow
                    community members if we notice someone in distress.
                </li>
            </ul>

            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Not OK behaviour
            </h2>
            <p class="text-lg mb-4">
                Not OK behaviours includes intimidating, harassing, abusive,
                discriminatory, derogatory, demeaning speech or actions by any
                participant, regardless of their popularity and prominence.
            </p>
            <p class="text-lg mb-4">
                We do not welcome semi-unfriendly responses and social cues.
                For example, it’s quite an uncomfortable feeling that one
                experiences when they ask something along the lines of “what is
                X” or “who is Y” and someone else responds with “What?! I can’t
                believe you don’t know what X is!” or "Wow! You don’t know who
                Y is?!”. Let’s all refrain from these. Asking about things one
                does not know is something we want to enable and augment as
                much as possible—not the opposite.
            </p>
            <p class="text-lg mb-4">
                Not OK behaviour is absolutely not acceptable and will not be
                tolerated. Anyone asked to stop not OK behaviour is expected to
                comply immediately.
            </p>

            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Addressing not OK behaviour
            </h2>
            <p class="text-lg mb-4">
                If you are subject to or witness unacceptable behaviour please
                speak to a member of the organising team.
                We hope you will feel comfortable speaking to a member of
                the organising team, but if not there is an alternative option
                of emailing
                <a href="mailto:anything@torchandzen.com" class="underline">anything@torchandzen.com</a>.
            </p>
            <p class="text-lg mb-4">
                Even if there is behaviour not outlined as unacceptable by this
                text, yet it causes uncomfortableness, please do follow the
                above.
            </p>
            <p class="text-lg mb-4">
                We take this part very seriously while at the same time we want
                to act with kindness and understanding for all community
                attendees.
            </p>
        </div>

        <div class="flex-1 flex justify-center items-end mt-8">
            <div class="inline-block max-w-[500px] min-w-[250px]">
                <img src="/img/llama.svg" width="1000px">
            </div>
        </div>
    </div>
</main>
{% endblock content %}
