<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Join a bunch of people. Learn by doing. Explore new technologies. Focus without distractions. Work on something exciting.">
        <meta name="keywords" content="hackathon, AI, ML, machine learning, deep learning, london, software engineering, learn, build">
        <meta name="twitter:card" content="summary">
        <meta property="og:url" content="https://torchandzen.com/">
        <meta property="og:title" content="Torch and Zen: Spend 4 days building an AI product while being Zen.">
        <meta property="og:description" content="Join a bunch of people. Learn by doing. Explore new technologies. Focus without distractions. Work on something exciting.">
        <meta property="og:image" content="https://torchandzen.com/img/social-card.png">

        <link rel="shortcut icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">

        {% block meta %}
        <title>Torch and Zen: Spend 4 days building an AI product while being Zen.</title>
        {% endblock meta %}

    </head>
    <body class="{% block bodyclasslist %}bg-gradient-to-r from-teal-200 to-yellow-100{% endblock bodyclasslist %}">
        <nav class="fixed w-full bg-gradient-to-r from-teal-200 to-yellow-100">
            <div class="flex flex-row items-center place-content-between py-2 lg:py-0 px-4 lg:px-0">
                <a href="/" class="hidden lg:flex flex-row items-center mr-8">
                    <div class="p-4">
                        <img src="/img/zen-circle.svg" alt="zen circle" width="50px">
                    </div>
                    <div class="text-kenen text-2xl">
                        Torch&nbsp;and&nbsp;Zen
                    </div>
                </a>
                <div>
                    <a class="text-kenen text-lg pr-2 lg:pr-4 hover:underline lg:hidden" href="/">Home</a>
                    <a class="text-kenen text-lg pr-2 lg:pr-4 hover:underline" href="https://docs.google.com/forms/d/e/1FAIpQLScdCe9XWIwyYLP7sIAtjYAxE-6tV-Qj2Pd9S19cPiQ4JDdbig/viewform">Apply ↗</a>
                    <a class="text-kenen text-lg pr-2 lg:pr-4 hover:underline" href="/coc/">Code of Conduct</a>
                    <a class="text-kenen text-lg pr-2 lg:pr-4 hover:underline" href="/manual/">Manual</a>
                    <a class="text-kenen text-lg pr-2 lg:pr-4 hover:underline" href="/schedule/">Schedule</a>
                    <a class="text-kenen text-lg pr-2 lg:pr-4 hover:underline" href="/about/">About</a>
                </div>
            </div>
        </nav>

        {% block content %}
        <header class="lg:hidden bg-gradient-to-r from-teal-300 to-yellow-200 flex justify-center items-center pt-32">
            <div class="flex flex-col justify-center items-center">
                <div>
                    <img src="/img/zen-circle.svg" alt="zen circle" width="250px">
                </div>
                <div class="text-kenen text-center">
                    <h1 class="font-semibold text-5xl mt-8">
                        Torch and Zen
                    </h1>
                    <div class="text-2xl mt-4 mb-16 max-w-[400px]">
                        Spend 4 days building an AI product
                        while being Zen.
                    </div>
                </div>
            </div>
        </header>
        <header class="hidden h-[700px] bg-gradient-to-r from-teal-300 to-yellow-200 lg:flex justify-center items-center">
            <div class="h-[300px] flex flex-row justify-center items-center pt-16">
                <div class="text-kenen pr-24 text-left">
                    <h1 class="font-semibold text-6xl mt-8">
                        Torch and Zen
                    </h1>
                    <div class="text-2xl mt-4 mb-0 max-w-[400px]">
                        Spend 4 days building an AI product
                        while being Zen.
                    </div>
                </div>
                <div>
                    <img src="/img/zen-circle.svg" alt="zen circle" width="250px">
                </div>
            </div>
        </header>

        <section id="home" class="bg-lime-100 px-4 pt-20 pb-20 sm:pt-40 sm:pb-48">
            <div class="text-center mb-8 sm:mb-16">
                <div class="text-sm text-teal-700 uppercase border-2 border-teal-700 rounded inline-block px-2 py-1">
                    What?
                </div>
            </div>
            <p class="text-teal-700 text-2xl sm:text-3xl md:text-4xl lg:text-5xl leading-normal sm:leading-snug md:leading-normal lg:leading-normal text-center max-w-[1000px] m-auto">
                <span class="bg-white/75">Join a bunch of people.</span>
                <span>
                    Learn by doing.
                </span>
                <span>
                    Explore new technologies.
                </span>
                <span class="bg-white/75">Focus without distractions.</span>
                <span>
                    Work on something exciting.
                </span>
            </p>
        </section>

        <section class="bg-teal-700 text-white pt-20 pb-24 sm:pt-32 sm:pb-40">
            <div class="text-center mb-16">
                <div class="text-sm uppercase border-2 border-white rounded inline-block px-2 py-1">
                    Join us
                </div>
            </div>
            <p class="text-center text-4xl sm:text-5xl leading-tight px-4">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScdCe9XWIwyYLP7sIAtjYAxE-6tV-Qj2Pd9S19cPiQ4JDdbig/viewform">
                    Submit your <span class="underline">Excitement&nbsp;Plan</span></a>&nbsp;»
            </p>
            <div class="flex flex-col sm:flex-row items-center justify-center mt-8">
                <div class="w-[150px] mr-8">
                    <img src="/img/compass.svg">
                </div>
                <div class="max-w-[500px] flex items-center px-4 pt-8 sm:pt-0">
                    <p class="text-xl">
                        To take part, you just need to figure out what you want to
                        work on to stay excited while being there! You will have
                        4 days. Treat them as your time budget which you spend
                        on thinking and writing fun code!
                    </p>
                </div>
            </div>
        </section>

        <section class="pt-20 pb-4 sm:pt-24 sm:pb-16 bg-white">
            <div class="text-center mb-20 sm:mb-20">
                <div class="text-sm text-teal-700 uppercase border-2 border-teal-700 rounded inline-block px-2 py-1">
                    FAQ
                </div>
            </div>

            <p class="text-center text-3xl sm:text-5xl mx-1 pb-24 leading-tight sm:leading-tight">
                Torch and Zen will take&nbsp;place
                <br>
                15 – 18 September 2023
                <br>
                in Greenwich, London
            </p>

            <div class="max-w-[700px] mx-auto text-lg sm:text-xl leading-normal">
                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        What do I need to join?
                    </p>
                    <ol class="text-gray-400 list-decimal pl-6">
                        <li>Figure out what you want to work on to stay excited during this event.</li>
                        <li>
                            Answer our questions in the
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScdCe9XWIwyYLP7sIAtjYAxE-6tV-Qj2Pd9S19cPiQ4JDdbig/viewform" class="underline">Excitement Plan</a>!
                        </li>
                        <li>Done!</li>
                    </ol>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        How much does it cost?
                    </p>
                    <p class="text-gray-400">
                        £70 per person.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Do I work alone or in teams?
                    </p>
                    <p class="text-gray-400">
                        Teams are preferred! Invite your friends or make new
                        friends at the event :D
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Where does it take place?
                    </p>
                    <p class="text-gray-400">
                        We are fortunate enough to have access to the beautiful
                        office of
                        <a href="https://www.foundersandcoders.com/" class="underline">Founders and Coders</a>!
                        Located at the Design District of North Greenwich, London, England.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Who is this for?
                    </p>
                    <p class="text-gray-400">
                        This event is aimed at people who are comfortable
                        coding on their own and want to explore the new space
                        of AI.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Where is the Zen?
                    </p>
                    <ol class="text-gray-400 list-decimal pl-6">
                        <li>Meditation every morning</li>
                        <li>Lunch all together</li>
                        <li>Daily check-ins with fellow attendees</li>
                        <li>Daily check-outs and self-reflections</li>
                        <li>Focus on one thing</li>
                        <li>No distractions</li>
                    </ol>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        When is it again?
                    </p>
                    <p class="text-gray-400">
                        Starts at 9am on Friday 15 September 2023 and
                        finishes at 5pm on Monday 18 September. 4 full days of
                        fun.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Is this a hackathon?
                    </p>
                    <p class="text-gray-400">
                        Kind of!
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Are there any prizes?
                    </p>
                    <p class="text-gray-400">
                        No.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        What happens in the end?
                    </p>
                    <p class="text-gray-400">
                        During Day 4, the last day, we present our work to the
                        fellow attendees and our invited friends. Presentation
                        is optional.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Why does it cost that?
                    </p>
                    <p class="text-gray-400">
                        We want to cover food plus some other comforts. See our
                        budget
                        <a href="https://docs.google.com/spreadsheets/d/1lgvIPMfUjRBv-CMosIWFabtdD0IuiPZ5kiZqY_u7XnY/edit?usp=sharing" class="underline">here</a>.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Who’s organising this?
                    </p>
                    <p class="text-gray-400">
                        See <a href="/about/" class="underline">here</a>.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        What’s with the name?
                    </p>
                    <p class="text-gray-400">
                        PyTorch is the most popular deep learning library. Zen
                        is a buddhist word that has come to mean deep calmness
                        and inner peace.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Why are you doing this?
                    </p>
                    <p class="text-gray-400">
                        We think it would be fun if there was a space where
                        people can do programming without the oppression of
                        having to be the best or to change the world. We still
                        value excellence and usefulness highly — but we also
                        reserve space for empathy and kindness.
                    </p>
                </div>

                <div class="mb-12 border-l-4 border-gray-500 pl-3">
                    <p>
                        Should I join?
                    </p>
                    <p class="text-gray-400">
                        Do you think you will have fun participating? Do you
                        think you will enjoy spending time here? If so, then
                        please join!
                    </p>
                </div>
            </div>
        </section>

        <section class="bg-teal-700 text-white py-48">
            <p class="text-center text-4xl sm:text-5xl leading-tight px-4">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScdCe9XWIwyYLP7sIAtjYAxE-6tV-Qj2Pd9S19cPiQ4JDdbig/viewform">
                    Fill in your » <span class="underline">Excitement&nbsp;Plan</span></a>&nbsp;»
                I’m excited!
            </p>
        </section>

        <footer class="bg-white/50 text-gray-400 flex flex-col sm:flex-row place-content-between p-4">
            <div>
                CC0 Public Domain 2023 Zermelo Fraenkel LTD
            </div>
            <div class="mt-4 sm:mt-0">
                Make something you will enjoy making.
            </div>
        </footer>
        {% endblock content %}

    </body>
</html>
