{% extends 'index.html' %}

{% block meta %}
<title>Torch and Zen: Schedule</title>
{% endblock meta %}

{% block bodyclasslist %}bg-white{% endblock bodyclasslist %}

{% block content %}
<main class="bg-salvo">
    <header class="bg-white pt-28 px-8 pb-8">
        <h1 class="text-4xl sm:text-5xl">
            Schedule
        </h1>
    </header>

    <div class="flex flex-col sm:flex-row">
        <div class="text-white max-w-[700px] px-8 pt-1">
            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Every day
            </h2>
            <ul class="list-disc pl-6 text-xl leading-normal">
                <li>Meditation: 8am - 9am</li>
                <li>Breakfast: 9am - 10am</li>
                <li>Focus block: 10am - 3pm</li>
                <li>Lunch: 3pm - 4pm</li>
                <li>Talks: 4pm - 5pm</li>
                <li>Less focused work: 5pm - 7pm</li>
            </ul>

            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Day 1: Fri 15 Sep
            </h2>

            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Day 2: Sat 16 Sep
            </h2>

            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Day 3: Sun 17 Sep
            </h2>

            <h2 class="text-2xl sm:text-3xl font-semibold sm:font-normal my-6">
                Day 4: Mon 18 Sep
            </h2>
        </div>

        <div class="flex-1 flex justify-center items-end">
            <div class="inline-block max-w-[500px]">
                <img src="/img/origami.svg" width="1000px">
            </div>
        </div>

        <div class="sm:hidden text-white p-8 mb-16">
            <a href="/">« Back to Home</a>
        </div>
    </div>
</main>
{% endblock content %}
